:root {
  --al-colour: white;
}

.calendar {
    width: fit-content;
    background-color: var(--al-colour);;
    margin: 20px auto;
}


.annual_leave_nbb.navbar-button {
    background-color: var(--al-colour);;
}

.cal-selection {
    width: fit-content;
    margin: 10px auto;
}

.react-calendar {
    width: 500px !important;
}

.react-calendar button {
    font: 400 20px Lato,sans-serif;
}
